
* {
    box-sizing: border-box;
}

body {
    color: #333333;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;

    background-image: url("images/stock/flowers-wall.jpg");
    background-size: cover;
}

header {
    background-color: white;

    margin: 0;
    padding: 0;
    
    border-radius: 40px 0px 0px 0px;

    font-size: 1.5em;
}

header h1 {
    font-family: Candara, Cambria, 'Times New Roman', serif;
    color: #EE9999;


    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 200px;
    padding-right: 200px;

    font-weight: lighter;

    margin:0;
}

h1 span {
    font-style: italic;
    font-family: Gabriola, Cambria, 'Times New Roman', serif;
    font-size: larger;
    font-weight: lighter;
}

header p {
    font-style: italic;
    color: #000000;
    font-size: 0.75em;

    padding-top: 0;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 15px;


    margin:0;
}

hr {
    margin: 0;
    padding: 0;
    border: 5px solid #CC6666;
}

nav hr {
    z-index: -1;
}

nav {
    padding: 0px;
    background-image: linear-gradient(#CC6666, #CC6666, #FFCCCC);

    float: left;

    height: 75vh;
    width: 200px;
    
}

nav div {
    
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    list-style-type: none;
    margin: 0px;
    padding:0;
}

.button {
    margin: 0;
    padding: 10px;
    text-align: center;

    background-color: #FFCCCC;
    border: 2px solid #996666;
    border-radius: 5px;
    box-shadow: none;

    transition: background-color 1s ease-out, border 1s ease-out, box-shadow 1s ease-out;
}

.button:hover {
    background-color: #FFFFFF;
    border: 2px solid #663333;
    box-shadow: 0px 0px 10px #FFFFFF;
}

nav a{
    text-decoration: none;
    font-weight: bold;
    font-size: 120%;

    
    color: #CC6666;
    font-weight: bold;

}

nav a:visited{
    color: #663366;
}

nav a:hover{
    color: #EE9999;
}


h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}

.links {
    display: flex;
    justify-self: end;
    justify-content: end;
    gap: 20px;

    width: 400px;
    margin: 0;
    padding: 0;
    padding-right: 20px;
}

.links img{
    width: 50px;
    height: 50px;

    margin: 0;
    padding: 0;
    z-index: 2;
}

.links a{
    margin: 0;
    padding: 0;
}

.button2 {
    background-color: #99666600;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
    background-image: linear-gradient(to bottom, #FFCCCC00, #CC666600);

    transition: background-image 0.5s ease-out, box-shadow 0.5s ease-out;
}

.button2:hover {
    background-image: linear-gradient(to bottom, #FFCCCCFF, #CC6666FF);
    box-shadow: inset 0px -10px 5px #FFFFFFCC;
}

section ul {
    list-style-image: url("images/stock/flower-png.png");
    font-size: larger;
}

main p span {
    font-style: italic;
    font-weight: lighter;
}

table {
    border: 5px solid #996666;
    border-top-left-radius: 20px;
    background-color: #996666;
}


td:nth-of-type(1){
    text-align: center;
    font-weight: bold;
}
td:nth-of-type(2){
    text-align: left;
    max-width: 600px;
    font-style: italic;
}

tr:nth-of-type(even){
    background-color: #FFEEEE;
}

tr:nth-of-type(odd){
    background-color: #FFCCCC;
}

th {
    background-color: #CC6666;
}

th:nth-of-type(1) {
    border-top-left-radius: 20px;
    z-index: 1;
}

td {
    padding: 0.3em 1em;
}

td:nth-of-type(odd) {
    text-align: center;
}


footer{
    padding: 20px;
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 200px 150px 150px;
    width: 60%;
    padding: 10px;
}

label {
    grid-column: 1 / 2;
    width: 200px;
    
    padding-right: 5px;
    text-align: right;

    margin-bottom: 10px;
}

input, textarea, select{
    grid-column: 2 / 3;
    width: 280px;
    margin-bottom: 10px;

}


#flower-selector {
    display: inline-grid;
    grid-template-columns: 25px 100px 25px 100px;
    width: 250px;
    justify-content: center;
    text-align: right;

}

#flower-selector label{
    grid-column: unset;
    width: 75px;

    text-align: left;
    margin-bottom: 10px;
}

#flower-selector input{
    grid-column: unset;

    margin-bottom: 10px;
}
#flower-selector input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

#flower-selector input[type="text"]{
    grid-column: 3/4;
    width: 150px;
    height: 20px;
}

#container {
    width: 90%;
    min-width: 650px;
    min-height: 95vh;

    margin-left: auto;
    margin-right: auto;
    background-color: #FFCCCC;
    border-radius: 40px 0px 0px 0px;
}

.content {
    display:flex;
    margin: 0;
    padding: 20px;
    justify-content: space-between;
}

.content div {
    margin: 0;
    padding: 0;
}

.content p {
    font-size: 1.2em;
    margin:0px 50px 0px 0px;
    padding: 0;
    min-width: 400px;
}

@media (width < 1100px){
    .content img{
        display: none;
    }
}
@media (width > 1100px){
    .content img {
        float: right;

        margin: 0;
        padding: 0;
        width: 260px;
        height: auto;

        border-radius: 20px;
        border: 5px outset #CC6666;
    }
}

.gallery {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    gap: 20px;
    padding: 10px;
}


.gallery img:hover {
    transform: scale(1.25);
    border: 0px outset #CC6666;
    z-index: 2;

    box-shadow: 0px 10px 10px #000000AA;
}
.gallery img {
    width: 200px;
    height: 350px;

    border-radius: 20px;
    border: 4px outset #CC6666;
    background-color: #CC6666;
    box-shadow: 0px -1px 0px #00000000;
    
    z-index: unset;

    transform: none;
    transition: transform 1s ease, border 0.5s ease-in, box-shadow 1s ease-out;
}

.clear-left {
    clear: left;
}


/* tabs css */
.tabs > ul {
    padding: 0;
    margin: 0;
}
.tabs h3{
    color: #CC6666;
}

.tabs .trigger {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    background: #fff;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.5s;
}

.tabs .trigger.active {
    background: #CC6666;
    color: #fff;
}

.tabs .tab-content {
    padding: 20px 20px;
    border-radius: 6px;
    border-top-left-radius: 0px;
    display: none;
    background: #fff;
}
.tabs .tab-content p {
    margin-bottom: 40px;
    margin-top: 20px;
    font-style: italic;
    font-weight: bold;
}

.tabs .tab-content.active {
    display: block;
}